*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}

.info button a{
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

header {
  position: relative;
}
header .header__info {
  width: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
header .header__info .header__title {
  font-size: 56px;
  font-weight: 700;
}
header .header__info .desc {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

content .container-1,
content .container-2 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 64px;
}
content .container-1 .title,
content .container-2 .title {
  width: 100%;
  text-transform: uppercase;
  font-size: 24px;
  padding: 48px 0;
}
content .container-1 .item,
content .container-2 .item {
  width: calc(25% - 36px);
}
content .container-1 .item .image,
content .container-2 .item .image {
  width: 100%;
  height:244.65px;
  border-radius: 6px;
  overflow: hidden;
}
content .container-1 .item .image img,
content .container-2 .item .image img {
  width: 100%;
  height:100%;
  object-fit: cover;
}
content .container-1 .item .info,
content .container-2 .item .info {
  padding: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
content .container-1 .item .info .title,
content .container-2 .item .info .title {
  font-size: 20px;
}
content .container-1 .item .info .price,
content .container-2 .item .info .price {
  color: #bb3e03;
  font-weight: 700;
  font-size: 18px;
}
content .container-1 .item .info .buy,
content .container-2 .item .info .buy {
  padding: 6px 18px;
  border: none;
  background-color: #005f73;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
}

content .container-1 .item .info .buy a,
content .container-2 .item .info .buy a {
  color:white;
}